.message
  .message__upper-info
    %p.message__upper-info--user
      = message.user.name
    %p.message__upper-info--date
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  .message__lower-info
    %p.message__lower-info__text
      = message.content
    = image_tag message.image, class: '__image'
