!!!5
%html
  %head

  %body
  .flash-box
    .flash-box__notice 
      グループを作成しました
  .wrapper
    .chat-side
      .side-header
        .side-header__box
          %p.side-header__box__user-name 
            test-usser
          %ul.side-header__box__menu
            %li.side-header__box__menu__new-group
              = link_to 'fa fa-edit', '/groups/new' 
            %li.side-header__box__menu__edit-user
              = link_to 'fa fa-cog','/users/998/edit' 
      .groups
        .groups__group
          %p.groups__group--group-name 
            test-group
          %p.groups__group--group-message
            さようなら
        .groups__group
          %p.groups__group--group-name 
            sample-group
          %p.groups__group--group-message
            hello!
        .groups__group
          %p.groups__group--group-name 
            example
          %p.groups__group--group-message
            まだメッセージがありません

    .chat-main
      .main-header
        .main-header__left-box
          %h2.main-header__left-box__current-group 
            test-group
          %ul.main-header__left-box__member-list 
            Member：
            %li.main-header__left-box__member-list--name
              test-member
        .main-header__edit-btn
          %p.main-header__edit-btn--text
            Edit
            
      .messages
        .message
          .message__upper-info
            %p.message__upper-info--user
              test-user
            %p.message__upper-info--date
              2019/07/11(fri) 13:26
          .message__text
            こんにちは！
        .message    
          .message__upper-info
            %p.message__upper-info--user
              test-user
            %p.message__upper-info--date
              2019/07/11(fri) 13:30
          .message__text
            さようなら


