*, *:before, *:after {
  box-sizing: border-box
}

$mainWhite: #ffffff;  
$subWhite: white;  
$mainBlue:#38AEF0; 
$mainTextColor:#434A54; 

*::-webkit-scrollbar {
  display: none;
}


.chat-side a{
  color:$subWhite;
  text-decoration: none;
}

.flash-box{
  background-color: $mainBlue;
  width: 100vw;
  text-align: center;
  font-size: 1rem;
  font-weight: lighter;
  &__notice{
    color: $subWhite;
  }
}

.wrapper{
  .chat-side{
    width: 300px;
    background-color: #2f3e51;
    float: left;
    color: $mainWhite;
    .side-header{
      background-color: #253141;
      height: 100px;
      padding: 0 20px;
      align-items: center;
      display: flex;
      &__box{
        display: flex;
        width: 100%;
        justify-content: space-between;
        font-weight: bold;
        &__menu{
          display: flex;
          &__new-group{
            margin-left: 0.3rem;
          }
          &__edit-user{
            margin-left: 0.3rem;
          }
        }
      }
    }
    .groups{
      padding: 20px 20px 0;
      height: calc(100vh - 100px);
      .group{
        width: 100%;
        margin-bottom: 40px;
        &__name{
          font-size: 15px;
          margin-bottom: 5px;
        }
        &__message{
          font-size: 11px;
        }
        }
      }
    }

  .chat-main{
    width: calc(100vw - 300px);
    float: left;
    .main-header{
      height: 100px;
      padding: 0 40px;
      border-bottom: solid 1px #eeeeee;
      &__left-box{
        float: left;
        margin-top: 35px;
        &__current-group{
          margin-bottom: 15px;
          font-size: 20px;
        }
        &__member-list{
          display: flex;
          font-size: 12px;
          color:#999999;
          bottom: 0px;
       
          &--name{
            
          }
        }
      }
      &__edit-btn{
        height: 40px;
        float: right;
        border: solid 1px  $mainBlue;
        color: $mainBlue;
        margin-top: 28px;
        padding: 0 20px 0;
        line-height: 40px;
        &--text{
          
          
        }
      }
    }
    .messages{
      background-color: #fafafa;
      height: calc(100vh  - 190px);
      padding: 46px 40px;
      overflow: scroll;
      .message{
        padding-bottom: 40px;
        &__upper-info{
          display: flex;
          margin-bottom:10px;
          &--user{
            font-size: 16px;
            font-weight: bold;
            color:  $mainTextColor;
          }
          &--date{
            font-size: 12px;
            color: #999999;
            margin-left: 10px;
          }
        }
        &__lower-info{
          font-size: 14px;
          color:  $mainTextColor;
          margin-bottom:10px;
        }
      }
    }
    .form{
      height: 90px;
      padding: 20px 40px;
      background-color: #ddd;
      .new-message{
        display: flex;
        .form-comment{
          height: 50px;
          background-color: #fafafa;
          line-height: 50px;
          display: flex;
          width:100%;
          position: relative;
          &__text{
            font-size: 16px;
            color: $mainTextColor;
            padding: 0 40px 0 10px;
            width: 100%;
          }
          &__image{
           margin-right: auto;
           position: absolute;
           right: 10px;
           cursor: pointer;
           }
          &__file{
            display:none;
          }
        }
      .send-btn{
        background-color: $mainBlue;
        margin-left: 15px;
        line-height: 50px;
        color: $mainWhite;
        float: right;
        width: 100px;
        text-align: center;
        padding: 0 30px;
        margin-left: 15px;
      }
      }
     }
  }
}

